<h2>Here are your links:</h2>
<ul id="links">
  <% @links.each do |link| %>
    <li>
      <a href="https://<%= link.url %>"><%= link.title %>; Tags: <%= link.tags.map{|x| x.name}.join(', ') %></a>
    </li>
  <% end %>
  <form action="/links/new" method="get"><input type="submit" value="Add new link"></form>
</ul>
